.App {
  font-family: sans-serif;
  /* text-align: center; */
  margin: 50px 80px 50px 80px ;
}

.textEditor {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}

.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}

.toolbar-class {
  border: 1px solid lightgray;
}
